@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<!-- Full width, no container -->
<div class="full-width-section">
    <h1>Hewaaaaaaaaaaa</h1>
</div>

<div class="full-width-section2">
    <h1>Hewaaaaaaaaaaa</h1>
</div>


<!-- Rest of content back in container -->
<div class="container">
    <p>Some more normal content here...</p>
</div>
